<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Content Type Definition for VTL files -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="jp.co.dreamarts.velocity.editor.vtlContentType"
            name="Velocity Template"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="vtl,vm"
            priority="normal">
      </content-type>
   </extension>

   <!-- Editor Definition -->
   <extension point="org.eclipse.ui.editors">
      <editor
            id="jp.co.dreamarts.velocity.editor.VelocityEditor"
            name="Velocity Template Editor"
            icon="icons/velocity.png"
            extensions="vtl,vm"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="jp.co.dreamarts.velocity.editor.editors.VelocityEditor"
            default="true">
         <contentTypeBinding contentTypeId="jp.co.dreamarts.velocity.editor.vtlContentType"/>
      </editor>
   </extension>

   <!-- File Association -->
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="jp.co.dreamarts.velocity.editor.vtlContentType"
            editorId="jp.co.dreamarts.velocity.editor.VelocityEditor">
      </editorContentTypeBinding>
   </extension>

   <!-- Preference Page (Optional) -->
   <extension point="org.eclipse.ui.preferencePages">
      <page
            id="jp.co.dreamarts.velocity.editor.preferences.VelocityPreferencePage"
            name="Velocity Editor"
            class="jp.co.dreamarts.velocity.editor.preferences.VelocityPreferencePage">
      </page>
   </extension>
</plugin>
